.disable-scroll {
  overflow: hidden;
}

nav {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  align-items: center;
  margin: 2rem 4rem;
  position: relative;
}

nav > ul {
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  background-color: rgba(24, 24, 24, 0.75);
  color: rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  transform: translateY(25%);
  opacity: 0;
}

.dropdown > a {
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

nav > ul > li > a:hover ~ .dropdown {
  display: flex;
  opacity: 1;
  flex-direction: column;
  flex: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in;
}

nav > ul > li > a {
  margin: auto;
  padding: auto;
  border-bottom: none;
  color: #222222;
}

nav > ul:hover > li > a {
  color: rgba(34, 34, 34, 0.3);
}
nav > ul:hover > li > a:hover {
  color: #222222;
}

.hamburger {
  display: none;
}

.hero {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: max-content;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.hero img {
  height: 100%;
  justify-self: center;
  object-fit: cover;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-buttons {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-buttons a {
  padding: 2rem 3rem;
  margin: 2rem 3rem;
  border: 0.25rem solid black;
  transition: 0.15s ease-in-out;
}

div.link-buttons > a:hover {
  color: white;
  background-color: #222222;
}

main section {
  display: grid;
  grid-template-columns: minmax(0, 72rem);
  justify-content: center;
  text-align: center;
}

main section img {
  width: 50%;
}

article footer {
  text-align: right;
}

article footer h3 {
  font-style: italic;
}

body > footer {
  background-color: #222222;
  color: white;
  padding: 2rem;
  text-align: center;
  padding: 6rem 0;
}

body > footer a {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body > footer span {
  padding: 0 0.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 1;
  background-color: white;
  padding: 5rem;
  transform: translateX(-200%);
  transition: transform 0.5s ease-out;
}

.close {
  color: gray;
  font-size: 2.5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
}

.menu ul {
  line-height: 2.5;
}

.menu.open {
  transform: translateX(0);
}

/* 1000px or less */
@media all and (max-width: 1000px) {
  .hamburger {
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
    border: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav > ul {
    display: none;
  }

  main section img {
    width: 100%;
  }
}
