.hero {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  grid-template-rows: max-content;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.hero img {
  height: 100%;
  justify-self: center;
  object-fit: cover;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-buttons {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 600px;
}

.link-buttons a {
  padding: 2rem 3rem;
  margin: 2rem 3rem;
  border: 0.25rem solid black;
  transition: 0.15s ease-in-out;
}

div.link-buttons > a:hover {
  color: white;
  background-color: #222222;
}

main section {
  text-align: center;
}

main section img {
  width: 50%;
}

article footer {
  text-align: right;
}

article footer h3 {
  font-style: italic;
}

@media all and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .hero img {
    max-height: 75vw;
  }

  main section img {
    width: 100%;
  }
}
