p {
  margin: 0.5rem;
}

h1 {
  font-size: 8rem;
  margin-bottom: 0;
}

h2 {
  margin: 0;
}

.links {
  margin-bottom: 2rem;
}

.highlight {
  background: rgba(193, 225, 242, 0.5);
}

.caption {
  /* font-size: 17px; */
  margin-bottom: 1.25rem;
  font-style: italic;
}

.wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column-start: span 3;
  width: 100%; 
}

.vidGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.vidGallery-vidItem {
  /* doing a hack to make sure that they display properly */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 25px;
  height: 0;
  margin-bottom: 15px;
}

.vidGallery-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.compositions-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-auto-flow: row wrap;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 50px; /* remove this later */
    padding: 0 25px 0 25px;
}

.compositions-item {
  padding: 20px;
  background-color: #efefef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.pdf {
    width: 100%;
    height: 500px;
}

@media all and (max-width: 900px) {
  .compositions-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .wrapper {
    padding: 0 30px; 
  }
}

@media all and (max-width: 500px) {
  h2 {
    font-size: 4rem;
  }
  .vidGallery,
  .compositions-wrapper {
    display: flex;
    flex-flow: column nowrap;
  }
  .vidGallery-vidItem {
    margin-bottom: 2rem;
  }
  .compositions-wrapper {
    padding: 0;
  }
  .pdf {
    height: 200px;
  }
}