<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Grace Bobber</title>
    <meta name="title" content="Grace Bobber" />
    <meta
      name="description"
      content="Grace Bobber is an actor, musician, and dancer living in Chicago. She graduated from Northwestern University and is represented by Shirley Hamilton Talent."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.gracebobber.com/" />
    <meta property="og:title" content="Grace Bobber" />
    <meta
      property="og:description"
      content="Grace Bobber is an actor, musician, and dancer living in Chicago. She graduated from Northwestern University and is represented by Shirley Hamilton Talent."
    />
    <meta property="og:image" content="/images/headshot.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.gracebobber.com/" />
    <meta property="twitter:title" content="Grace Bobber" />
    <meta
      property="twitter:description"
      content="Grace Bobber is an actor, musician, and dancer living in Chicago. She graduated from Northwestern University and is represented by Shirley Hamilton Talent."
    />
    <meta property="twitter:image" content="/images/headshot.jpg" />
    <link rel="stylesheet" href="../../../dist/styles/base.css" />
    <link rel="stylesheet" href="../../../dist/styles/global.css" />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <main class="content">
      <article class="hero">
        <section class="hero-column">
          <img
            src="/images/headshot.jpg"
            alt="Grace Bobber's headshot"
            class="hero-column-image"
          />
        </section>
        <section class="hero-column">
          <h2>Hey there, I'm Grace!</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
            totam voluptates accusantium nostrum accusamus, perferendis ipsum
            impedit ea sunt tempore libero officiis laboriosam distinctio.
            Recusandae autem ab impedit at nobis.
          </p>
        </section>
      </article>
    </main>
  </body>
</html>
