<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="../../../dist/styles/base.css" />
    <link rel="stylesheet" href="../../../dist/styles/global.css" />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <main class="content">
      <div class="heroWrapper">
        <div class="heroRow">
          <section class="heroColumn">
            <img
              src="/images/headshot.jpg"
              alt="Grace Bobber's headshot"
              class="heroColumn-image"
            />
          </section>
          <section class="heroColumn">
            <h2>Hey there, I'm Grace!</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
              totam voluptates accusantium nostrum accusamus, perferendis ipsum
              impedit ea sunt tempore libero officiis laboriosam distinctio.
              Recusandae autem ab impedit at nobis.
            </p>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
