<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="../../../dist/styles/base.css" />
    <link rel="stylesheet" href="../../../dist/styles/global.css" />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <main class="content">
      <header class="hero">
        <section class="hero-heroLeft">
          <img
            class="hero-heroImg"
            src="/images/headshot.jpg"
            alt="Grace Bobber's headshot"
          />
        </section>
        <section class="hero-heroRight">
          <h2 class="hero-heroHeading">Hey there, I'm Grace!</h2>
          <p class="hero-heroBody">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde,
            ratione vero vel molestias, quam distinctio quasi consectetur minima
            reiciendis soluta similique perferendis tempore, dolores quas illum
            ea nulla. Officia, tempore?
          </p>
        </section>
      </header>
    </main>
  </body>
</html>
