.heroWrapper-disabled {
  transform: translateY(-100vh);
}

.heroWrapper-linkButtons > .heroWrapper-linkButton:hover {
  background: #222222;
  color: white;
}

.content {
  align-items: center;
  text-align: center;
}

.signOff {
  align-self: flex-end;
  text-align: right;
}

.signOff-signature {
  font-style: italic;
  margin-top: 0.75rem;
}

.signOff p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding-right: 4rem;
  margin-bottom: 0;
}

.siteNav {
  z-index: 1;
}

.swipeOver {
  z-index: 25;
}

.video {
  object-fit: cover;
  height: calc(var(--vh, 1vh) * 100);
  z-index: -1;
}

/* MUTE BUTTON */

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 17px rgba(255, 255, 255, 0);
  }
}

.mobileMenuButton,
.mutebutton {
  all: unset; /* unset default button styles */
  background: hsla(0, 0%, 0%, 0.7);
  border: 0.125vw solid #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.mutebutton {
  left: 20px;
}

.mobileMenuButton {
  right: 20px;
}

.mobileMenuButton:hover,
.mutebutton:hover {
  color: hsla(0, 0%, 0%, 1);
  background-color: hsla(0, 0%, 100%, 0.75);
  border: 0.125vw solid #222222;
  stroke: white;
}

.mobileMenuButton-icon,
.mutebutton-icon {
  fill: transparent;
  width: 5vh;
  height: 5vh;
  stroke: white;
}

.mobileMenuButton:hover > .mobileMenuButton-icon,
.mutebutton:hover > .mutebutton-icon {
  stroke: #222222;
  fill: transparent;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-in-out;
}

.videoWrapper {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  /* height: 100%; */
  /* width: 100%; */
}

.heroWrapper-textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vh;
}

.heroWrapper-heroName {
  margin: 0 0 1.5vw;
  font-size: 7vw;
  text-align: center;
  color: #222;
  font-style: italic;
}

.heroWrapper-linkButtons > .heroWrapper-linkButton {
  border: 0.125vw solid #000;
  font-size: 1.25vw;
  border-radius: 0.25rem;
  color: #222;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 1vw;
  margin: 0 1rem;
}

.scrollDown {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh 3vh 3vh 3vh;
}

.scrollDown-invite {
  margin: 0;
  font-size: 2vw;
  font-style: italic;
  color: #222222cc;
}

.scrollDown-arrowDown {
  stroke: #222222cc;
  width: 4vw;
}

.hero {
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heroImage {
  margin: 0 3rem 1.5rem 2rem;
  max-width: 35%;
  border-radius: 50%;
  justify-self: center;
}

.hero-heroBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyImage {
  width: 50%;
}

@media all and (max-width: 500px) {
  .videoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroWrapper {
    position: absolute;
    bottom: 0;
    justify-content: space-between;
  }

  .heroWrapper-textBlock {
    margin-bottom: 3vh;
  }

  .heroWrapper-heroName {
    margin: 0;
    width: 100vw;
    font-size: 15vmin;
    text-align: center;
    color: #fff;
    background: hsla(0, 0%, 0%, 0.7);
    padding: 1vh 0;
    font-style: italic;
  }

  .heroWrapper-linkButtons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .heroWrapper-linkButtons > .heroWrapper-linkButton {
    padding: 2.5vw;
    border: 0.125vw solid #fff;
    margin-top: 2vh;
    border-radius: 0.25rem;
    background: hsla(0, 0%, 0%, 0.7);
    color: #fff;
    font-size: 4vw;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }

  .heroWrapper-linkButtons > .heroWrapper-linkButton:hover {
    color: hsla(0, 0%, 0%, 1);
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 0.125vw solid #222222;
  }

  .scrollDown {
    position: static;
    background: #222222;
  }

  .scrollDown-invite {
    margin: 0;
    font-size: 4vmin;
    color: #fff;
    font-style: italic;
  }

  .scrollDown-arrowDown {
    text-shadow: 0.2vw 0.4vw 0.3vw #222;
    stroke: #fff;
    font-size: 4vmin;
  }
  .bodyImage {
    width: 100%;
  }

  .hero-heroImage {
    width: 40%;
  }

  .hero h2 {
    font-size: 3rem;
  }
}
