.heroRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.heroColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 400px;
  padding: 2rem;
}

.heroColumn-image {
  object-fit: cover;
  align-self: center;
  justify-self: center;
}
