.content {
  margin: 0 5vw;
}

.vidGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.vidGallery-vidItem {
  /* doing a hack to make sure that they display properly */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 25px;
  height: 0;
}

.vidGallery-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  align-self: center;
  margin-bottom: 4rem;
}

.banner-video-item {
  grid-column: 1 / span 2;
  padding-bottom: 28.125%;
}

.banner-video-video {
  width:50%;
  left: 25%;
}

@media all and (max-width: 500px) {
  .vidGallery {
    display: flex;
    flex-flow: column nowrap;
  }
  .vidGallery-vidItem {
    margin-bottom: 2rem;
  }
  .banner-video-video {
    width: 100%;
    left: 0;
  }
  .banner-video-item {
    grid-column: unset;
    padding-bottom: 56.25%
  }
}
