.twoCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.title {
  font-style: italic;
}

.right {
  align-items: center;
  text-align: center;
}

.instaHandle {
  font-weight: bold;
}
