.twoCol {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  gap: 4rem;
  margin: 3rem 0;
}

.right,
.left {
  display: flex;
  flex-direction: column;
}

.right {
  justify-content: space-around;
}

.logo {
  width: 100%;
  align-self: center;
  height: 200px;
  object-fit: scale-down;
  background: black;
}

.video {
  width: 100%;
  height: 200px;
}

blockquote .video {
  height: 100%;
}

blockquote .twoCol {
  margin: unset;
}

@media all and (max-width: 1300px) {
  .content {
    margin: 0 5vw;
  }
}

@media all and (max-width: 775px) {
  .twoCol {
    display: flex;
    flex-direction: column;
  }
}
