@import url("/modules/hero/css/hero.css");

.content-body {
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 50%;
  align-self: center;
  margin: 25px 0px;
}

.video {
  object-fit: contain;
}

.videoGallery {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.videoGallery-video {
  height: 200px;
  width: 275px;
  margin: 1rem 0.5rem;
}

@media all and (max-width: 600px) {
  .videoGallery {
    flex-direction: column;
    align-items: center;
  }

  .videoGallery-video {
    min-height: unset;
    width: 100%;
    margin: 0.5rem 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .logo {
    max-width: 100%;
  }
}
