@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Work+Sans:ital,wght@0,400;0,450;1,400;1,450&display=swap");

/* we can also @import the css from our modules specific css here, and just link to the global scope in each of our html files*/

:root {
  --body-text: "Work Sans";
  --heading-text: "Baskervville";
  --foreground-color: #222222;
  --background-color: white;
}

.swipeOver,
.siteNav > ul > li:hover > a ~ .menuList-dropdown {
  display: flex;
}

* {
  font-weight: normal;
  font-family: var(--body-text);
  color: var(--foreground-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

strong {
  font-weight: bold;
}

.content {
  margin: 0 4rem;
}

.content-body {
  margin: 0 15vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-text);
  line-height: 1.1;
  margin: 1.5rem 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

.swipeOver-link,
.menuList-link,
.small-caps {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

p {
  margin: 2.5rem 0;
}

a {
  text-decoration-line: none;
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
}

.disable-scroll {
  overflow: auto;
}

.footer {
  background-color: #222222;
  color: white;
  text-align: center;
  margin-top: 3rem;
  padding: 6rem 2rem;
}

.footer-links {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer span {
  padding: 0 0.5rem;
  color: #ececec;
}

.swipeOver {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background-color: white;
  padding: 5rem 0 5rem 5rem;
  transform: translateX(-200%);
  transition: transform 0.5s ease-out;
  z-index: 19;
}

.close {
  padding-right: 5rem;
  color: gray;
  font-size: 2.5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.swipeOver ul {
  line-height: 2.5;
}

.swipeOver-isOpen {
  transform: translateX(0);
}

.siteNav {
  position: sticky;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  align-items: center;
  padding: 2rem 4rem;
  top: 0;
  background: white;
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
nav.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
nav.headroom--pinned {
  transform: translateY(0%);
}
nav.headroom--unpinned {
  transform: translateY(-100%);
}

.siteNav * {
  border: none;
}

.siteNav > ul {
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menuList-dropdown {
  position: absolute;
  background-color: rgba(30, 30, 30, 0.95);
  color: rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  transform: translateY(10%);
  opacity: 0;
}

.menuList-dropdown > a {
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.menuList-dropdown > a:hover {
  color: white;
}

.siteNav > ul > li:hover > a ~ .menuList-dropdown {
  opacity: 1;
  flex-direction: column;
  flex: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in;
}

.swipeOver-link,
.menuList-link {
  border-bottom: none;
  color: #222222;
}

.siteNav > ul:hover > li:not(:hover) > a {
  color: rgba(34, 34, 34, 0.3);
}

.siteNav-hamburger {
  display: none;
}

.button {
  padding: 2rem 3rem;
  margin: 1.5rem 3rem;
  border: 0.25rem solid black;
  transition: 0.15s ease-in-out;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover {
  color: white;
  background-color: #222222;
}

.swipeOver .swipeOver-dropdown.menuList-dropdown-isOpen {
  display: flex;
  opacity: 1;
  transform: unset;
}

.swipeOver-dropdown {
  flex-direction: column;
  transition: all 10s;
  position: unset;
  display: none;
  background-color: transparent;
  color: #222222;
  padding: 0 0 0 4rem;
  margin: 0;
}

.swipeOver-dropdown > a {
  border: none;
}

@media all and (max-width: 1000px) {
  .content-body {
    margin: 5vw;
  }

  .siteNav-hamburger {
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
    border: none;
  }

  .siteNav {
    display: flex;
    justify-content: space-between;
  }

  .siteNav > ul {
    display: none;
  }
  .siteNav-siteTitle h3 {
    font-size: 3rem;
  }
}

@media all and (max-width: 500px) {
  .hero-heroImage {
    width: 40%;
  }

  .hero h2 {
    font-size: 3rem;
  }
}
