.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  position: relative;
  /* transform: translateY(100vh); */
}

.siteNav {
  background: transparent;
  color: white;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.siteNav > ul {
  opacity: 0;
}

.siteNav * {
  color: white;
}

.video {
  /* position: fixed; */
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-linkButtons,
.signOff p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.hero-linkButtons {
  display: flex;
}

.hero {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  grid-template-rows: max-content;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.hero-heroImage {
  min-height: 100%;
  max-height: 500px;
  justify-self: center;
  object-fit: cover;
}

.hero-heroBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-linkButtons {
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 600px;
}

.content-body {
  text-align: center;
}

.content-body img {
  width: 50%;
}

.signOff {
  text-align: right;
}

.signOff-signature {
  font-style: italic;
}

@media all and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .hero img {
    min-width: 75vw;
    max-height: 400px;
    object-fit: cover;
    object-position: 50% 40%;
  }

  .content-body img {
    width: 100%;
  }

  .hero h2 {
    font-size: 3rem;
  }
}
