.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  position: relative;
}

.siteNav {
  width: 100vw;
  z-index: 1;
}

.swipeOver {
  z-index: 2;
}

.video {
  object-fit: cover;
  height: 100vh;
  z-index: -1;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 150;
  transition: all 0.75s ease-in-out;
}

.heroWrapper-textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vh;
}

.heroWrapper-disabled {
  transform: translateY(-100vh);
}

.heroWrapper-heroName {
  margin: 0 0 1.5vw 0;
  font-size: 7vw;
  text-align: center;
  color: #222222;
  font-style: italic;
}

.heroWrapper-linkButtons > .heroWrapper-linkButton {
  border: 0.125vw solid black;
  font-size: 1.25vw;
  border-radius: 0.25rem;
  color: #222222;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 1vw;
  margin: 0 1rem;
}

.heroWrapper-linkButtons > .heroWrapper-linkButton:hover {
  padding: 1.15vw;
  background: #222222;
  color: white;
}

.scrollDown {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

.scrollDown-invite {
  margin: 0;
  font-size: 2vw;
  font-style: italic;
  color: #222222cc;
}

.heroWrapper-arrowDown {
  stroke: #222222cc;
  width: 4vw;
}

.hero-linkButtons,
.signOff p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.hero-linkButtons {
  display: flex;
}

.hero {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-heroImage {
  margin: 1.5rem 0;
  max-width: 35%;
  border-radius: 50%;
  justify-self: center;
}

.hero-heroBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-linkButtons {
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 600px;
}

.content-body {
  text-align: center;
}

.content-body img {
  width: 50%;
}

.signOff {
  text-align: right;
}

.signOff-signature {
  font-style: italic;
}

.videoWrapper {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  height: 100%;
  width: 100%;
}

@media all and (max-width: 500px) {
  .videoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroWrapper {
    position: absolute;
    bottom: 0;
    height: 20vh;
    margin-bottom: 15vh;
    justify-content: space-between;
  }

  .heroWrapper-heroName {
    margin: 0;
    font-size: 15vmin;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 0.2vw 0.4vw 0.4vw rgba(0, 0, 0, 0.5);
    font-style: italic;
  }

  .heroWrapper-linkButtons > .heroWrapper-linkButton {
    border: 0.125vw solid white;
    border-radius: 0.25rem;
    background: hsla(0, 0%, 0%, 0.5);
    color: white;
    font-size: 3vmin;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }

  .heroWrapper-linkButtons > .heroWrapper-linkButton:hover {
    color: hsla(0, 0%, 0%, 1);
    background-color: hsla(0, 0%, 100%, 0.75);
    border: 0.125vw solid black;
    padding: 1.5vw;
  }

  .scrollDown-invite {
    margin: 0;
    font-size: 4vmin;
    color: white;
    font-style: italic;
    text-shadow: 0.2vw 0.4vw 0.3vw rgba(0, 0, 0, 0.3);
  }

  .heroWrapper-arrowDown {
    text-shadow: 0.2vw 0.4vw 0.3vw rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 4vmin;
  }
}

@media all and (max-width: 1000px) {
  .content-body img {
    width: 100%;
  }

  .hero h2 {
    font-size: 3rem;
  }
}
